body {
    background-image: url('background.jpg');
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

#hivelogo {
  width: 100%;
  margin-top: 5%;
}

#preview {
  width: 12%;
  cursor: pointer;

}

#previewplay {
  width: 12%;
  cursor: pointer;
}

#previewpause {
  width: 12%;
  cursor: pointer;
}

#logo {
  width: 100%;
  margin-top: 45%;
}

#logo2 {
  width: 70%;
  margin-top: 20%;
  margin-left: 10px;
}

#logo3 {
  width: 78%;
  margin-top: 20%;
  margin-left: 10px;

}

.dragme{
    position:relative;
   /* width: 200px;
    height: 180px;*/
    cursor: move;
}

#draggable {
  margin-top: 20px;
}

#footer{
    background-color: #422fe9;
    height:5%;
}

#bio {
  font-family: 'VT323', monospace;
  margin-top: -10%;
  margin-left: 2%;
  font-size: 20px;
  color: blue;
  background: none;
  border-radius: 25px;
  border: solid blue;
  background-color: white;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

#bioW {
  font-family: 'VT323', monospace;
  margin-top: 1px;
  margin-left: 2%;
  font-size: 20px;
  color: blue;
  background: none;
  border-radius: 25px;
  border: solid blue;
  background-color: white;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

#song {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: blue;
}



#btn {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: blue;
}

#btn2 {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: blue;
}


#closebtn {
  margin-left: 85%;
  margin-top: -12%;
}

#closebtn2 {
  margin-left: 5%;
  margin-top: -100px;
}

#closebtn3 {
  margin-left: 85%;
  margin-top: -12%;
}


@media screen and (min-width: 1300px) {
  #bio {
    font-family: 'VT323', monospace;
    margin-top: 1px;
    margin-left: 2%;
    font-size: 26px;
    color: blue;
    background: none;
    border-radius: 25px;
    border: solid blue;
    background-color: white;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
  
  #bioW {
    font-family: 'VT323', monospace;
    margin-top: 1px;
    margin-left: 2%;
    font-size: 26px;
    color: blue;
    background: none;
    border-radius: 25px;
    border: solid blue;
    background-color: white;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
  


}